absl-py==2.1.0
accelerate==1.7.0
addict==2.4.0
affine==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.3.5
aiohttp==3.10.2
aiomysql==0.2.0
aiosignal==1.3.1
airportsdata==20250224
albumentations==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
apispec==6.4.0
apispec-webframeworks==1.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
audioread==3.0.1
Automat==24.8.1
av==11.0.0
Babel==2.15.0
beartype==0.18.5
beautifulsoup4==4.12.3
bidict==0.23.1
binaryornot==0.4.4
bitsandbytes==0.45.5
black==23.7.0
blake3==1.0.4
bleach==6.1.0
blinker==1.8.2
braceexpand==0.1.7
branca==0.7.2
cachetools==5.5.0
certifi==2025.4.26
cftime==1.6.4
chardet==5.1.0
charset-normalizer==3.4.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.0.0
cmake==3.30.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
compressed-tensors==0.9.2
config==0.5.1
constantly==23.10.4
contextily==1.6.0
contourpy==1.2.1
cookiecutter==2.5.0
crcmod==1.7
cssselect==1.2.0
cupy-cuda12x==13.4.1
customtkinter==5.2.2
cycler==0.12.1
cykhash==2.0.1
Cython==3.0.10
darkdetect==0.8.0
datasets==3.5.0
debugpy==1.8.2
decorator==4.4.2
decord==0.6.0
deepdiff==6.7.1
defusedxml==0.7.1
Deprecated==1.2.15
depyf==0.18.0
dill==0.3.7
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
duckdb==1.2.1
easydict==1.13
einops==0.7.0
einops-exts==0.0.4
email_validator==2.2.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
evaluate==0.4.3
exceptiongroup==1.2.1
executing==2.0.1
fairscale==0.4.13
fastapi==0.115.6
fastapi-cli==0.0.7
fastjsonschema==2.20.0
fastrlock==0.8.3
ffmpeg==1.4
ffmpy==0.4.0
filelock==3.18.0
fire==0.6.0
Flask==3.0.2
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
folium==0.18.0
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2025.3.2
ftfy==6.1.3
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.4.0
gdown==5.1.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gevent==23.9.1
gevent-websocket==0.10.1
gguf==0.10.0
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
google-auth==2.34.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==4.44.1
gradio_client==1.3.0
great-circle-calculator==1.3.1
greenlet==3.0.3
grpcio==1.66.1
h11==0.14.0
h5py==3.10.0
haversine==2.8.1
hf_transfer==0.1.8
hjson==3.1.0
httpcore==1.0.8
httptools==0.6.1
httpx==0.28.1
huggingface-hub==0.31.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.10
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib_resources==6.4.0
incremental==24.7.2
insightface==0.7.3
interegular==0.3.3
invisible-watermark==0.2.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.5.0
jmespath==0.10.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==2.12.0
kiwisolver==1.4.5
kornia==0.6.9
kthread==0.2.3
langchain==0.3.13
langchain-core==0.3.27
langchain-text-splitters==0.3.4
langsmith==0.2.4
lark==1.2.2
lazy_loader==0.4
libclang==18.1.1
libpysal==4.8.1
librosa==0.11.0
lightning-utilities==0.11.7
lit==18.1.8
llguidance==0.7.11
llvmlite==0.43.0
lm-format-enforcer==0.10.11
lmdeploy==0.5.2.post1
loguru==0.7.2
lxml==5.3.0
Mako==1.3.5
mapbox-vector-tile==2.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.20.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mercantile==1.2.1
mistral_common==1.5.4
mistune==3.0.2
ml_dtypes==0.5.0
mmengine-lite==0.10.4
model-index==0.1.11
modelscope==1.16.1
momepy==0.6.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.19.0
multidict==6.0.5
multiprocess==0.70.15
munch==4.0.0
mypy==1.8.0
mypy-extensions==1.0.0
narwhals==1.6.4
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.1
networkx==3.4.2
ninja==1.11.1.1
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.555.43
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.16.2
onnxruntime-gpu==1.16.3
open_clip_torch==2.26.1
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
opennsfw2==0.10.2
openpyxl==3.1.2
# Editable install with no version control (opensora==1.2.0)
-e /home/wangb/Open-Sora-Plan
openxlab==0.1.1
opt_einsum==3.4.0
ordered-set==4.1.0
orjson==3.10.6
osmnx==1.9.3
oss2==2.17.0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parameterized==0.9.0
parsel==1.9.1
parso==0.8.4
partial-json-parser==0.2.1.1.post4
passlib==1.7.4
pathspec==0.12.1
peft==0.15.1
pexpect==4.9.0
platformdirs==4.2.2
playwright==1.42.0
plotly==5.22.0
pooch==1.8.2
portalocker==2.10.1
prettytable==3.11.0
proglog==0.1.10
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pudb==2024.1.3
PuLP==2.9.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyairports==2.1.1
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post5
pycocoevalcap==1.2
pycocotools==2.0.8
pycountry==24.6.1
pycryptodome==3.20.0
pycuda==2024.1.2
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
pyee==11.0.1
PyExecJS==1.5.1
Pygments==2.18.0
pygmt==0.11.0
PyJWT==2.8.0
PyMatting==1.1.12
pymongo==4.6.1
PyMySQL==1.1.1
pynvml==11.5.3
pyogrio==0.9.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyproj==3.6.1
pyrobuf==0.9.3
pyrosm==0.6.2
pyspark==3.5.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-json-logger==2.0.7
python-multipart==0.0.9
python-rapidjson==1.18
python-slugify==8.0.4
python-socketio==5.11.4
python_tsp==0.5.0
pytools==2024.1.11
pytorch-lightning==2.0.1
pytorchvideo==0.1.5
pytz==2023.3.post1
PyWavelets==1.6.0
PyYAML==6.0.2
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
qudida==0.0.4
qwen-vl-utils==0.0.10
RapidFuzz==3.11.0
rasterio==1.3.10
ray==2.44.1
redis==4.6.0
referencing==0.35.1
regex==2024.11.6
rembg==2.0.59
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-toolkit==0.14.0
rpds-py==0.18.1
rsa==4.9
Rtree==1.3.0
ruff==0.6.7
sacred==0.8.5
safetensors==0.5.3
scikit-cuda==0.5.3
scikit-image==0.21.0
scikit-learn==1.3.2
scikit-video==1.1.11
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.14.0
setproctitle==1.3.3
sgm @ file:///home/wangb/SVD
shapely==2.0.6
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.2
simclr==1.0.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snuggs==1.4.7
soundfile==0.13.1
soupsieve==2.5
soxr==0.5.0.post1
SQLAlchemy==2.0.25
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.41.3
streamlit==1.39.0
streamlit-keyup==0.2.0
sympy==1.14.0
tabulate==0.8.10
taipy==4.0.1
taipy-common==4.0.1
taipy-config==3.1.1
taipy-core==4.0.1
taipy-gui==4.0.1
taipy-rest==4.0.1
taipy-templates==4.0.1
tb-nightly==2.19.0a20240928
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorboardX==2.6
tensorflow==2.12.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.37.1
tensorly==0.8.1
termcolor==2.4.0
terminado==0.18.1
test_tube==0.7.5
text-unidecode==1.3
thefuzz==0.22.1
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.7.0
timm==0.9.16
tinycss2==1.3.0
tk==0.1.0
tkinterdnd2==0.4.2
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
torch==2.7.0
torchaudio==2.6.0
torchdata==0.6.1
torchdiffeq==0.2.3
torchmetrics==1.3.2
torchvision==0.21.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
triton==3.3.0
trl==0.17.0
tsplib95==0.7.1
Twisted==24.7.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.13.2
tyro==0.8.14
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
urllib3==2.4.0
urwid==2.6.16
urwid_readline==0.15.1
uv==0.7.2
uvicorn==0.29.0
uvloop==0.19.0
vit-pytorch==1.7.0
vllm==0.8.2
vllm-flash-attn==2.6.1
vt2geojson==0.2.1
w3lib==2.2.1
wandb==0.18.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webdataset==0.2.100
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.4
widgetsnbextension==4.0.11
wordcloud==1.9.3
wsproto==1.2.0
xarray==2024.6.0
xformers==0.0.29.post2
xgrammar==0.1.16
xxhash==3.4.1
xyconvert==0.1.2
xyzservices==2024.9.0
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zhipuai==2.1.5.20230904
zope.event==5.0
zope.interface==7.1.1
